In [1]:
import numpy as np 
import pandas as pd 
!pip install xlrd

Requirement already satisfied: xlrd in c:\users\justin leung\appdata\local\conda\conda\envs\datafeed\lib\site-packages (1.1.0)

mkl-random 1.0.1 requires cython, which is not installed.
mkl-fft 1.0.0 requires cython, which is not installed.

In [2]:
all_data = pd.read_excel("all_data.xlsx")

In [33]:
all_data[:1]
transaction = all_data["TransactionType"]
transaction_df = pd.DataFrame(transaction)
#transaction.value_counts()
all_data_filtered = all_data[(transaction_df.replace(transaction_df.apply(pd.Series.value_counts)).gt(20).all(1))]
print (all_data_filtered['TransactionType'].value_counts(normalize=True))
print(all_data.shape)
all_data_filtered.shape

#filtered_data = all_data[transaction.replace(transaction.apply(pd.Series.value_counts)).gt(20).all(1)]

Distribution    0.154533
LoanCreate      0.143729
LoanCost        0.139972
LoanRepay       0.133866
Purchase        0.125411
SpotFxIn        0.112729
Sale            0.108502
SpotFxOut       0.081259
Name: TransactionType, dtype: float64
(2178, 2)

(2129, 2)